[submodule "Minishell"]
	path = Minishell
	url = https://github.com/kaseypsbrice/Minishell
[submodule "cub3d"]
	path = cub3d
	url = https://github.com/kaseypsbrice/cub3d
[submodule "ft_transcendence"]
	path = ft_transcendence
	url = https://github.com/kaseypsbrice/ft_transcendence.git
[submodule "Inception"]
	path = Inception
	url = https://github.com/kaseypsbrice/Inception.git
[submodule "ft_irc"]
	path = ft_irc
	url = https://github.com/kaseypsbrice/ft_irc.git
